[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "highfrequency"]
	path = highfrequency
	url = https://github.com/jonathancornelissen/highfrequency
